<div class="flex justify-content-end mr-2 mt-1">
    <button pButton type="button" icon="pi pi-chevron-left" class="right p-button-success"
        [routerLink]="['/cliente']"></button>
</div>


<div class="form">
    <form autocomplete="off" #f="ngForm" (ngSubmit)="getIncluir()">
        <div class="p-fluid grid">
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText required [(ngModel)]="cliente.nomeCliente"
                        name="something">
                    <label for="inputtext">Nome Completo</label>
                </span>
            </div>
            <div class="field col-12 md:col-6">
                <span class="p-float-label p-input-icon-left">
                    <input type="text" id="inputtext-left" pInputText required [(ngModel)]="cliente.cpfCliente"
                        name="something">
                    <label for="inputtext-left">CPF</label>
                </span>
            </div>
            <div class="field col-12 md:col-12">
                <label for="inputtext">Data de Nascimento</label>
                <p-calendar [(ngModel)]="cliente.dataNasc" inputId="template">
                    <ng-template pTemplate="date" let-date>
                        <span
                            [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
                    </ng-template>
                </p-calendar>
                <input placeholder="Data de Nascimento" id="inputtext" pInputText required
                    [(ngModel)]="cliente.dataNasc" name="something">
            </div>
        </div>
        <div class="flex justify-content-end grid p-fluid col-2">
            <button class="right p-button-success" pButton label="Salvar" [disabled]="!f.valid"></button>
        </div>
    </form>
</div>