<p-toast position="top-center"></p-toast>
<p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

<div class="grid p-fluid mt-3 m-8">
  <button
    pButton
    type="button"
    icon="pi pi-chevron-left"
    label="Voltar"
    class="right p-button-primary mt-1"
    [routerLink]="['/cliente']"
  ></button>
</div>

<div class="flex justify-content-center">
  <h1>
    {{ titulo }}
  </h1>
</div>

<div class="form">
  <form autocomplete="off" #f="ngForm" (ngSubmit)="salvar()">
    <div class="p-fluid grid justify-content-center">
      <div class="field col-8">
        <span class="p-float-label">
          <input
            type="text"
            id="nomeCliente"
            pInputText
            [required]="true"
            [(ngModel)]="cliente.nomeCliente"
            #nomeCliente="ngModel"
            [ngClass]="{
              'ng-invalid ng-dirty':
                f.submitted &&
                nomeCliente.invalid &&
                (nomeCliente.dirty || nomeCliente.touched)
            }"
            name="nomeCliente"
          />
          <label for="nomeCliente">Nome Completo</label>
        </span>
      </div>
    </div>
    <div class="p-fluid grid justify-content-center">
      <div class="field col-8">
        <span class="p-float-label">
          <p-inputMask
            type="text"
            id="cpfCliente"
            [required]="true"
            mask="999.999.999-99"
            [(ngModel)]="cliente.cpfCliente"
            name="cpfCliente"
            #cpfCliente="ngModel"
            [ngClass]="{
              'ng-invalid ng-dirty':
                f.submitted &&
                cpfCliente.invalid &&
                (cpfCliente.dirty || cpfCliente.touched)
            }"
          >
          </p-inputMask>
          <label for="cpfCliente">CPF</label>
        </span>
      </div>
    </div>
    <div class="p-fluid grid justify-content-center">
      <div class="field col-8">
        <span class="p-float-label">
          <p-inputMask
            mask="99/99/9999"
            [required]="true"
            [(ngModel)]="cliente.dataNasc"
            slotChar="dd/mm/yyyy"
            placeholder="99/99/9999"
            name="dataNasc"
          ></p-inputMask>
          <label for="date">Data de Nascimento</label>
        </span>
        <!-- <input id="date" type="date" pInputText required [(ngModel)]="cliente.dataNasc" name="something"
                        #dataNasc="ngModel"
                        [ngClass]="{ 'ng-invalid ng-dirty': f.submitted && dataNasc.invalid && (dataNasc.dirty || dataNasc.touched) }"> -->
      </div>
    </div>
    <div class="grid p-fluid mt-3 m-8">
      <button
        class="p-button-success"
        pButton
        label="Salvar"
        [disabled]="!f.valid"
      ></button>
    </div>
    <ngx-qrcode
      class="flex justify-content-center"
      [elementType]="elementType"
      [errorCorrectionLevel]="correctionLevel"
      [value]="cliente.nomeCliente"
      cssClass=" aclass"
    >
    </ngx-qrcode>
  </form>
</div>
