<p-toast position="top-center"></p-toast>
<p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

<div class="flex justify-content-end mt-1">
    <button pButton label="Novo Cliente" icon="pi pi-plus" [routerLink]="['novo-cliente']"
        class="right mr-2 mt-1 p-button-priamry">
    </button>
</div>


<div class="card ml-5 mr-5 ">
    <p-table [value]="clientes" responsiveLayout="stack" [lazy]="true" (onLazyLoad)="loadCustomers($event)"
        [paginator]="true" dataKey="id" [totalRecords]="totalDeRegistros" [loading]="loading" [rows]="3"
        [rowsPerPageOptions]="[3,10,20]" [showCurrentPageReport]="true" [globalFilterFields]="['clientes.nomeCliente']"
        currentPageReportTemplate="Total de {totalRecords} registros">
        <ng-template pTemplate="caption">
            Clientes
        </ng-template>
        <ng-template pTemplate="header" let-cols>
            <tr>
                <th>ID</th>
                <th>Nome </th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>QR</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clientes let-cols="columns">
            <tr>
                <td><span class="p-column-title">ID</span> {{clientes.id}} </td>
                <td><span class="p-column-title">Nome</span> {{clientes.nomeCliente}} </td>
                <td><span class="p-column-title">CPF</span> {{clientes.cpfCliente}} </td>
                <td><span class="p-column-title">Data de Nascimento</span> {{clientes.dataNasc}} </td>
                <td>
                    <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel"
                        [value]="clientes.nomeCliente" cssClass="aclass">
                    </ngx-qrcode>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-raised p-button-primary mr-2"
                        [routerLink]="['/cliente', clientes.id]"></button>

                    <button pButton pRipple icon="pi pi-trash" class="p-button-raised p-button-danger"
                        (click)="deletar(clientes.id)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>