/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
}

.aclass {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  filter: drop-shadow(1px 1px 1px rgb(115, 112, 112));
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    padding: 0.75rem 1.25rem !important;
    border-radius: 0 !important;
    transition: box-shadow 0.2s !important;
    -webkit-user-select: none !important;
    flex-direction: row-reverse !important;
    user-select: none !important;
  }

  .p-menubar {
    position: relative;
    flex-direction: row-reverse !important;
  }
  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    display: flex;
    flex-direction: column;
    top: 100%;
    right: 0 !important;
    width: 180px !important;
    z-index: 1;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    padding: 0.75rem 1.25rem !important;
    border-radius: 0 !important;
    transition: box-shadow 0.2s !important;
    -webkit-user-select: none !important;
    justify-content: space-between !important;
    user-select: none !important;
  }
}
