* {
  font-family: sans-serif;
}

body {
  background-color: #e1dfe6;
}

.aclass {
  display: flex;
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    padding: 0.75rem 1.25rem !important;
    border-radius: 0 !important;
    transition: box-shadow 0.2s !important;
    -webkit-user-select: none !important;
    /* flex-direction: row-reverse !important; */
    user-select: none !important;
  }

  .p-menubar {
    position: relative;
    flex-direction: row-reverse !important;
  }

  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    display: flex;
    flex-direction: column;
    top: 100%;
    right: 0 !important;
    width: 300px !important;
    z-index: 1;
  }
}
